In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import re
%matplotlib inline

In [ ]:
data1=pd.read_excel("HIV_0000000026,SDGHIV (1).xlsx")
data1.head(10)

   Unnamed: 0  ... New HIV infections (per 1000 uninfected population).2
0  WHO region  ...                                             Female
1      Global  ...                                   0.21 [0.16-0.29]
2      Global  ...                                    0.22 [0.16-0.3]
3      Global  ...                                   0.23 [0.17-0.32]
4      Global  ...                                   0.24 [0.18-0.33]
5      Global  ...                                   0.26 [0.19-0.35]
6      Global  ...                                    0.27 [0.2-0.36]
7      Global  ...                                   0.28 [0.21-0.38]
8      Global  ...                                    0.29 [0.22-0.4]
9      Global  ...                                   0.31 [0.23-0.42]

[10 rows x 6 columns]

In [ ]:
data1=data1.rename(columns={"Unnamed: 0":"WHO region","Unnamed: 1":"Year","Number of new HIV infections":"Number_of_new_HIV_infections",
                            "New HIV infections (per 1000 uninfected population)":"New_HIV_infections_per_1000_uninfected_population_both_sexes",
                           "New HIV infections (per 1000 uninfected population).1":"New_HIV_infections_per_1000_uninfected_population_Males",
                           "New HIV infections (per 1000 uninfected population).2":"New_HIV_infections_per_1000_uninfected_population_Females"})

In [ ]:
data1=data1[1:]
data1.head(10)

   WHO region  ... New_HIV_infections_per_1000_uninfected_population_Females
1      Global  ...                                   0.21 [0.16-0.29]
2      Global  ...                                    0.22 [0.16-0.3]
3      Global  ...                                   0.23 [0.17-0.32]
4      Global  ...                                   0.24 [0.18-0.33]
5      Global  ...                                   0.26 [0.19-0.35]
6      Global  ...                                    0.27 [0.2-0.36]
7      Global  ...                                   0.28 [0.21-0.38]
8      Global  ...                                    0.29 [0.22-0.4]
9      Global  ...                                   0.31 [0.23-0.42]
10     Global  ...                                   0.32 [0.24-0.44]

[10 rows x 6 columns]

In [ ]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 1 to 210
Data columns (total 6 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   WHO region                                                    210 non-null    object
 1   Year                                                          210 non-null    object
 2   Number_of_new_HIV_infections                                  210 non-null    object
 3   New_HIV_infections_per_1000_uninfected_population_both_sexes  210 non-null    object
 4   New_HIV_infections_per_1000_uninfected_population_Males       210 non-null    object
 5   New_HIV_infections_per_1000_uninfected_population_Females     210 non-null    object
dtypes: object(6)
memory usage: 10.0+ KB

In [ ]:
data2=pd.read_excel("HIV_0000000001 (2).xlsx")
data2.head(10)

   REGION  YEAR PEOPLE HAVING HIV
0  Global  2019       38 000 000
1  Global  2018        37 300 000
2  Global  2017        36 500 000
3  Global  2016        35 700 000
4  Global  2015       34 900 000
5  Global  2014       34 100 000
6  Global  2013       33 200 000
7  Global  2012       32 400 000
8  Global  2011       31 600 000
9  Global  2010       30 700 000

In [ ]:
data2=data2.rename(columns={'REGION':'WHO region','YEAR':'Year'})

In [ ]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   WHO region         210 non-null    object
 1   Year               210 non-null    int64
 2   PEOPLE HAVING HIV  210 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.0+ KB

In [ ]:
data3=pd.read_excel("HIV_0000000006.xlsx")
data3.head()

  WHO region  Year Number of deaths due to HIV/AIDS
0     Global  2019        690 000 [500 000–970 000]
1     Global  2018      730 000 [530 000–1 000 000]
2     Global  2017      760 000 [550 000–1 100 000]
3     Global  2016      800 000 [580 000–1 100 000]
4     Global  2015      830 000 [610 000–1 200 000]

In [ ]:
data3=data3.rename(columns={"Number of deaths due to HIV/AIDS":"Number_of_deaths_due_to_HIV/AIDS"})

In [ ]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   WHO region                        210 non-null    object
 1   Year                              210 non-null    int64
 2   Number_of_deaths_due_to_HIV/AIDS  210 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.0+ KB

In [ ]:
#data1.shape --(210, 6)
#data2.shape --(210, 3)
#data3.shape  --(210, 3)

In [ ]:
data=pd.merge(data1,data2,on="WHO region")
data.head()

  WHO region Year_x  ... Year_y PEOPLE HAVING HIV
0     Global   2019  ...   2019       38 000 000
1     Global   2019  ...   2018        37 300 000
2     Global   2019  ...   2017        36 500 000
3     Global   2019  ...   2016        35 700 000
4     Global   2019  ...   2015       34 900 000

[5 rows x 8 columns]

In [ ]:
#data.shape
data=pd.merge(data,data3, on="WHO region")

In [ ]:
#data.shape
data.head()

  WHO region Year_x  ...  Year Number_of_deaths_due_to_HIV/AIDS
0     Global   2019  ...  2019        690 000 [500 000–970 000]
1     Global   2019  ...  2018      730 000 [530 000–1 000 000]
2     Global   2019  ...  2017      760 000 [550 000–1 100 000]
3     Global   2019  ...  2016      800 000 [580 000–1 100 000]
4     Global   2019  ...  2015      830 000 [610 000–1 200 000]

[5 rows x 10 columns]

In [ ]:
data.drop('Year_x',axis='columns', inplace=True)

In [ ]:
data.drop('Year_y',axis='columns', inplace=True)

In [ ]:
for col in data.columns:
    if col!='Year':
        data[col]=data[col].str.replace(r'\[.*\]',"")

In [ ]:
data.head()

  WHO region  ... Number_of_deaths_due_to_HIV/AIDS
0     Global  ...                         690 000
1     Global  ...                         730 000
2     Global  ...                         760 000
3     Global  ...                         800 000
4     Global  ...                         830 000

[5 rows x 8 columns]

In [ ]:
data['Number_of_new_HIV_infections']=data['Number_of_new_HIV_infections'].str.replace(" ","")
data['PEOPLE HAVING HIV']=data['PEOPLE HAVING HIV'].str.replace(" ","")
data['Number_of_deaths_due_to_HIV/AIDS']=data['Number_of_deaths_due_to_HIV/AIDS'].str.replace(" ","")

In [ ]:
data.head()

  WHO region  ... Number_of_deaths_due_to_HIV/AIDS
0     Global  ...                           690000
1     Global  ...                           730000
2     Global  ...                           760000
3     Global  ...                           800000
4     Global  ...                           830000

[5 rows x 8 columns]

In [ ]:
data = data[~data['New_HIV_infections_per_1000_uninfected_population_Females'].isin(['&lt;0.01 '])]

In [ ]:
data = data[~data['Number_of_deaths_due_to_HIV/AIDS'].isin(['&lt;500'])]

In [ ]:
for col in data.columns:
    if col!='Year' and col!="WHO region" :
        data[col]=data[col].astype(float)

In [ ]:
missing_values_count = data.isnull().sum()
print(missing_values_count)

WHO region                                                      0
Number_of_new_HIV_infections                                    0
New_HIV_infections_per_1000_uninfected_population_both_sexes    0
New_HIV_infections_per_1000_uninfected_population_Males         0
New_HIV_infections_per_1000_uninfected_population_Females       0
PEOPLE HAVING HIV                                               0
Year                                                            0
Number_of_deaths_due_to_HIV/AIDS                                0
dtype: int64

In [ ]:
data.to_excel("Cleaned HIV dataset.xlsx")